a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #523405;
}

li {
  list-style: none;
}

.font-color {
  color: rgb(224, 41, 41);
}
.title-color{
  color: rgb(235, 251, 209);
}
/* contact */
.contact {
  text-align: center;
}
/* 動畫class */
.short{
  animation: short 1s forwards ;
}
.toggleSlide{
  animation: slidedown 1s forwards ;
}


@media screen and (max-width: 767px) {
  .recommendInfo {
    font-size: 18px;
    height: 300px;
    overflow: hidden;
  }
}

/* nav動畫 */
@keyframes gorotate {
  50% {
    transform: translateY(4px) rotate(-10deg);
  }

  100% {
    transform: rotate(0);
  }
}
/* 滑入動畫 */

@keyframes leftIn {
  0%{
    transform: translateX(-100%);
    
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes rightIn{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes slidedown{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY((0));
  }
}
@keyframes toggleslide{
  0%{
   transform: translateY((0));
  }
  100%{
    transform: translateY(-100%);
  }
}
@keyframes short{
  100%{
    width: 100px;
  }
}
@keyframes long{
  100%{
    width: 100%;
  }
}

