.roomBody{
    display: flex;
    min-height: calc(100vh - 70.7px);
}

.roomBody aside{
    flex-basis:250px;
    background: linear-gradient(to top, rgb(27, 26, 26), rgb(25, 25, 42));
}

.roomBody aside+div{
    width: 100%;
    padding: 1rem;
}

.room{
    margin: 0 auto;
    line-height: 1rem;
    padding:1rem;
    color: #fafafa;
    font-size:1.5rem;
    transition: .5s;
}

.room:hover{
    background: rgb(200,80,5) ;
    cursor: pointer;
    color: rgb(27, 26, 26);
    border-radius: 20px;
}

.textWrap{
    position: relative;
    overflow-y: auto;
    min-height: 80vh;
   
}
.textWrap + input{
    width: 85%;
}

#textBlock{
    min-height: 100%;
}

.textWrap :last-child{
    position: absolute;
}