/* map */

#map{
    width: 75vw;
    height: 100vh;
  }
  
  .RdFilter{
    display: flex;
    align-items: center;
    flex-basis: 25%;
    flex-direction: column;
    margin-top:83px;
    overflow-y: scroll;
  }

  .RdFilter select{
    width:150px;
    margin: 0 50% 12px;
  }

  .RdFilter figure a{
    display: block;
    width:100%;
  }

  .RdFilter figure a img{
    width:100%;
    object-fit: contain;
  }