a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(106, 218, 62);
}

li {
  list-style: none;
}

.font-color {
  color: palevioletred;
}

/* contact */
.contact {
  text-align: center;
}


/* rwd排版 */
@media screen and (max-width: 1199px) {
  .mynav li {
    padding: 14px 0;
    font-size: 0.7rem;
  }
  .about figure{
    flex-direction: column;
    align-items: center;
  }
  .about figure:nth-child(odd){
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 991px) {
  .header {
    padding-right: 0;
  }

  .mynav {
    display: none;
  }

  #burger {
    background: rgb(179, 0, 9);
    width: 70px;
    min-height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    cursor: pointer;
    padding: 16px;
  }

  .line {
    background: white;
    height: 10%;
    width: 80%;
    border-radius: 6px;
  }

  .content {
    height: unset;
  }

  .about {
    flex-direction: column;
  }

  .cardwrap {
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    height: 70%;
  }

  .myCard {
    width: 90%;
  }

  .st-ImgWrap {
    margin: 10px;
  }

  .footerWrap {
    height: 60vh;
  }

  .footerWrap div {
    flex-direction: column;
  }

  .footImg {
    width: 80vw;
    padding-left: 40px;
  }

  .footLink {
    padding-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .recommendInfo {
    font-size: 18px;
    height: 300px;
    overflow: hidden;
  }
}

/* nav動畫 */
@keyframes gorotate {
  50% {
    transform: translateY(4px) rotate(-10deg);
  }

  100% {
    transform: rotate(0);
  }
}
/* 滑入動畫 */

@keyframes leftIn {
  0%{
    transform: translateX(-100%);
    
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes rightIn{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes slidedown{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY((0));
  }
}
@keyframes toggleslide{
  0%{
   transform: translateY((0));
  }
  /* 50%{
     transform: translateY(-100%);
  } */
  100%{
    transform: translateY(-100%);
  }
}
@keyframes short{
  100%{
    width: 100px;
  }
}
@keyframes long{
  100%{
    width: 100%;
  }
}

